<div class="container-fluid"> 
<div class="header">
  
  <div class="content">
    <img src="assets/restaurant_marker.png">&nbsp;FOODIE
  
  </div>
  <div class="blank"></div>
    <div class="navigation">
    <ul>
      <li><a [routerLink]="['/update-data']">Update</a></li>
      <li><a [routerLink]="['']"><img src="assets/search.png"> Search</a></li>
      <li><a [routerLink]="['']"><img src="assets/offers.png"> Offers</a></li>
      <li><a [routerLink]="['']"><img src="assets/help.png"> Help</a></li>
      <li><a [routerLink]="['']"><img src="assets/sign.png"> Sign In</a></li>
      <li><a [routerLink]="['']"><img src="assets/cart.png"> Cart</a></li>
    </ul>
  </div>
</div>
<div class="img_content">
  <ul class="breadcrumb">
      <li id="white"><a href="#">Home</a></li>
      <li id="white"><a [routerLink]="['restaurant']">Restaurant</a></li>
  </ul>
</div>
</div>





