.add_details form{
    display: flex;
    flex-wrap:wrap;
}
.add_details{
    border-top:1px solid #fff;
    padding: 10px 10px;
}
.form-group{
    margin-right: 40px;
}
input{
    background: transparent;
    width:300px;
    color: #fff;
}
button{
    height: 30px;
    margin-right:20px;
}
