<div class="container-fluid">
  <div class="main_head" >
    <div class="img"><img src={{restaurant[i].image}}></div>
    <div class="mid">
      <div class="title">{{restaurant[i].name}}</div>
      <div class="des">{{restaurant[i].descrip}}</div>
      <div class="down">
          <div>{{restaurant[i].rate}}<br><span>Ratings</span></div>
          <div class="dash">{{restaurant[i].time}} mins<br><span>Delivery Time</span></div>
          <div class="dash">Rs {{restaurant[i].cost}}<br><span>Cost For two</span></div>
      </div>
    </div>
  </div>
</div>